body {
    font-size: 22px;
}

main {
    font-family: monospace;
}

h1, h2 {
    color: darkblue;
}

p {
    color: red;
}

p {
    color: green;
}

.highlight {
    text-transform: uppercase;
    background-color: yellow;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}