@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 2rem;
    padding: 0.5em;
}

.first {
    font-family: monospace;
}

.second {
    font-family: 'Roboto', sans-serif;
}

.third {
    font-family: 'Climate Crisis', cursive;
}